* {
  --dark-purple: #302F4D;
  --off-white: #EAE0D5;
  --burnt: #B07156;
  --bluesteel: #627C85;
  --blue-green: #096B72;

}

body {
  background-color: var(--bluesteel);
  margin-bottom: 8rem;
}

header {
  background-color: white;
}






/* Footer styling */
footer {
  background-color: var(--dark-purple);
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.contact div {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.contact img {
  max-height: 3rem;
  max-width: 3rem;
}

.small-print {
  font-size: 0.5rem;
}





/* About and resume pages styling */
.info {
  border-style: solid;
  border-radius: 1rem;
  border-color: var(--burnt);
  border-width: 0.25rem;
  background-color: var(--off-white);
  color: var(--burnt);
}





/* Contact page styling */
.form-input {
  font-size: 2rem;
  color: var(--dark-purple);
}

.validation {
  font-size: 1.5rem;
  color: var(--dark-purple);
}

.submit-btn {
  border-color: var(--dark-purple);
  border-width: 0.25rem;
  border-radius: 1rem;

  height: 50%;
  width: 9rem;

  background-color: white;

  color: var(--dark-purple);

  display: none;
}





/* Inverts colors on hover */
.submit-btn:hover {
  color: white;
  background-color: var(--dark-purple);
}

.title {
  color: var(--dark-purple);
}

.project-box {
  margin-left: 0.25rem;
}





/* Changes name in header */
.name {
  font-size: 5rem;
  color: var(--dark-purple);
}

.last {
  color: var(--blue-green);
}





/* Styles buttons in nav bar */
.button {
  border-color: var(--burnt);
  border-width: 0.25rem;

  height: 50%;

  background-color: var(--off-white);

  color: var(--burnt);
}

.button:hover {
  color: var(--off-white);
  background-color: var(--burnt);
}




/* Formats the image and text animation */
.img-text {
  display: none;
  pointer-events: none;
  text-align: center;
}

.project {
  height: 16rem;
  width: 24rem;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project:hover {
  filter: brightness(0.5);

}

.project:hover+.img-text {
  display: block;
  color: white;
  animation: fadeIn 0.5s;
}

.card-body {
  background-color: var(--off-white);
  color: var(--burnt);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  .project {
    height: 10rem;
    width: 15rem;

    display: block;
    margin-left: auto;
    margin-right: auto;

  }
}