/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

* {
  --navy: #302F4D;
  --off-white: #EAE0D5;
  --burnt: #B07156;
  --bluesteel: #627C85;
  --blue-green: #096B72;


}

body {
  background-color: var(--bluesteel);
  margin-bottom: 8rem;
}

header {
  background-color: white;
}

footer {
  background-color: var(--navy);
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.contact div {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.contact img {
  max-height: 3rem;
  max-width: 3rem;
}

.info {
  border-style: solid;
  border-radius: 1rem;
  border-color: var(--burnt);
  border-width: 0.25rem;
  background-color: var(--off-white);
  color: var(--burnt);
}

.title {
  color: var(--navy);
}

.test {
  width: fit-content;
}

.name {
  font-size: 5rem;
  color: var(--navy);
}

.last {
  color: var(--blue-green);
}

.button {
  border-color: var(--burnt);
  border-width: 0.25rem;

  height: 50%;
  width: 9rem;

  background-color: var(--off-white);

  color: var(--burnt);
}

.button:hover {
  color: var(--off-white);
  background-color: var(--burnt);
}

.img-text {
  display: none;
}

.project {
  width: 100%;
  /* height: 50%; */
}

.project:hover {
  filter: brightness(0.5);

}

.project:hover+.img-text {
  display: block;
  color: white;
  animation: fadeIn 0.5s;
}

.img-text {
  pointer-events: none;
  text-align: center;
}

.card-body {
  background-color: var(--off-white);
  color: var(--burnt);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}